.message-right{
    display: flex;
    flex-direction: row-reverse;
}

.message-left{
    /* text-align: left; */
}

.chat-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-container-header{
    /* background-color: #f6f6f6; */
    flex: 1;
    align-content: center;
    border-bottom:1px solid #e7e7e7 ;
}

.messages-contianer{
    /* background-color: blueviolet; */
    padding: 1em;
    flex: 8;
}

.chat-container-footer{
    /* background-color: violet; */
    border-top: 1px solid #e7e7e7;
    flex: 1 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color: #f3f3f3; Optional for visualization */
}

.user-avatar{
   margin-left: 1em;
}

.right-message-bubble{
    padding: 0.5em;
    border: 0.1em solid lightgray;
    border-radius: 1em;
    /* background-color: #e74c3c; */
    background: linear-gradient(#abdee7, #afa3d1);
}

.left-message-bubble{
    padding: 0.5em;
    border: 0.1em solid lightgray;
    border-radius: 1em;
    background: linear-gradient(#e7e7e7, #f4f3f5);
}

.message-footer{
    display: flex; /* Enables flexbox for internal alignment */
    align-items: center; /* Aligns items vertically */
    gap: 10px; /* Adds space between internal elements */
    width: 100%; /* Optional: Adjusts size */
    max-width: 100%; /* Optional: Limits the width */
    padding: 10px; /* Optional: Adds spacing around the content */
}
.msg-text{
    flex: 8;
}

.input-box{
    font-size: 1em;
    padding: 1em;
    width: 98%;
    height: 100%;
    border-radius: 2em;
    border: 1px solid #e7e7e7;
}

.preview-img-container{
    height: 7em;
    width: 7em;
    padding: 0.5em;
    position: relative;
}

.preview-img{
    height: 7em;
    width: 7em;
    border-radius: 0.5em;
}

.layer{
    top: 7.5px;
    bottom: 7.5px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.6;
    left: 7.5px;
    right: 7.5px;
    border-radius: 0.5em;
    padding: 0.5em;
}

.cancel-icon{
    position: absolute;
    left: 5.9em;
    top: 0.6em;
    /* height: 0.1em; */
    width: 2.5em !important;
    color: white;
    padding: 0em;
}