.comments-nav{
    height: 6em;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom:1px solid lightgray ;
}

.comments-actions{
    height: 8em;
    background-color: white;
}

.comments-content{
    height: 0em; /* Check a proper way to enable comment scrolling.*/
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
     border-bottom:1px solid lightgray ;
}

.comments-parent-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.user-profile{
        height: 80%;
    width: 68%;
    border-radius: 50%;
    margin-left: 1.2em;
    margin-top: 0.6em;
}

.profile-wrapper{
    width: 12%;
    margin-left: 2em;
}

.comments-actions{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.comment-icons{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.like-comment-share{
    margin-left: 0.5em;
    margin-top: 0.3em;
    cursor: pointer;
}

.save-icon{
    margin-right: 0.5em;
    margin-top: 0.3em;
    cursor: pointer;
}

.likes-section{
    flex: 1;
    margin-left: 1em;
}

.comment-text-box{
    flex: 1;
    padding: 0.2em;
}

.comments{
    padding: 0.7em;
    /* text-align: center; */
}

.cmnt-div{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 1em;
}

.user-name-comment{
    margin-left: 0.8em;
    margin-right: 0.5em;
}

.comment-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.loader{
    text-align: center;
}