.insta-image-wrapper{
    display: flex;
    justify-content: center;
}

.ig-logo{
    height: 4.5em;
}

.feed-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-story{
    
}

.new-div{
    padding-bottom: 2%;
    padding-top: 1%;
    height: 90vh;
    /* overflow: auto;
    scrollbar-width: none;
    scroll-snap-type: y mandatory; */
}