/* 
@keyframes scrollLeft {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-100%);
            }
}

#soundbar{
    background-color: white;

}

.canvas-wrapper{
    height: 100vh;
    width: 100%;
    animation: scrollLeft 4s linear infinite;
} */
